@using CanEatFrontEnd.Models.PageModel.AdminHome;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@model AdminHomeModel;
@{
    var count = 1;
}
<div class="accordion gap-2 w-100" style="width: 100%;">
    <div class="accordion-item" style="width: 100%;">
        <div class="accordion-header" id="verifyVendor-head">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#verifyVendor-collapse" aria-expanded="true" aria-controls="verifyVendor-collapse">
                <h2>Verify Vendor</h2>
            </button>
        </div>
        <div id="verifyVendor-collapse" class="accordion-collapse collapse show" aria-labelledby="verifyVendor-head">
            <div class="accordion-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="fw-bold">
                            <td>No.</td>
                            <td>Vendor ID</td>
                            <td>Vendor Name</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.verifyList.Count > 0)
                        {

                            count =  1;

                            foreach (Vendor v in Model.verifyList)
                            {
                                <tr>
                                    <td>@count.</td>
                                    <td>@v.Id</td>
                                    <td>@v.Name</td>
                                    <td><a asp-action="verifyVendor" asp-controller="AdminHome" asp-route-id="@v.Id" class="btn btn-primary">Approve</a></td>
                                </tr>
                                {
                                    count += 1;
                                }
                            }
                        }
                        else
                        {
                            <tr colspan="3">
                                No vendor needs approval!
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="manageVendor-head">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#manageVendor-collapse" aria-expanded="true" aria-controls="manageVendor-collapse">
                <h2>Manage Vendor</h2>
            </button>
        </div>
        <div id="manageVendor-collapse" class="accordion-collapse collapse" aria-labelledby="manageVendor-head">
            <div class="accordion-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="fw-bold">
                            <td>No.</td>
                            <td>Vendor ID</td>
                            <td>Vendor Name</td>
                            <td>Vendor Email</td>
                            <td>Vendor Phone</td>
                            <td>Vendor Company</td>
                            <td>Status</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.vendorList.Count > 0)
                        {
                            count = 1;

                            @foreach (Vendor ve in Model.vendorList)
                            {
                                <tr>
                                    <td>@count.</td>
                                    <td>@ve.Id</td>
                                    <td>@ve.Name</td>
                                    <td>@ve.Email</td>
                                    <td>@ve.Phone</td>
                                    <td>@ve.Company.Name</td>
                                    @if (@ve.Status)
                                    {
                                        <td>Approved</td>
                                    }
                                    else
                                    {
                                        <td>Not Approved</td>
                                    }
                                    <td>
                                        <a asp-action="Index" asp-controller="AdminVendorEdit" asp-route-id="@ve.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                            </svg>
                                        </a>

                                    </td>
                                    <td>
                                        <a asp-action="deleteVendor" asp-controller="AdminHome" asp-route-id="@ve.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                {
                                    count += 1;
                                }
                            }
                        }
                        else
                        {
                            <tr colspan="9">
                                No vendor found!
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="manageCompany-head">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#manageCompany-collapse" aria-expanded="true" aria-controls="manageCompany-collapse">
                <h2>Manage Company</h2>
            </button>
        </div>
        <div id="manageCompany-collapse" class="accordion-collapse collapse" aria-labelledby="manageCompany-head">
            <div class="accordion-body d-flex flex-column gap-2">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="fw-bold">
                            <td>No.</td>
                            <td>Company ID</td>
                            <td>Company Name</td>
                            <td>Company Address</td>
                            <td>Company Phone</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.companyList.Count > 0)
                        {

                            count = 1;
                            @foreach (Company co in Model.companyList)
                            {
                                <tr>
                                    <td>@count.</td>
                                    <td>@co.Id</td>
                                    <td>@co.Name</td>
                                    <td>@co.Address</td>
                                    <td>@co.Phone</td>
                                    <td>
                                        <a asp-action="Index" asp-controller="AdminCompanyEdit" asp-route-id="@co.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                            </svg>
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-action="deleteCompany" asp-controller="AdminHome" asp-route-id="@co.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                {
                                    count += 1;
                                }
                            }
                        }
                        else
                        {
                            <tr colspan="7">
                                No company found!
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-primary btn-lg rounded-pill" asp-action="Index" asp-controller="AdminCompanyAdd">
                    + Add Company
                </a>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-header" id="manageCustomer-head">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#manageCustomer-collapse" aria-expanded="true" aria-controls="manageCustomer-collapse">
                <h2>Manage Customer</h2>
            </button>
        </div>
        <div id="manageCustomer-collapse" class="accordion-collapse collapse" aria-labelledby="manageCustomer-head">
            <div class="accordion-body d-flex flex-column gap-2">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="fw-bold">
                            <td>No.</td>
                            <td>Customer ID</td>
                            <td>Customer Name</td>
                            <td>Customer Email</td>
                            <td>Customer Phone</td>
                            <td>Customer Company</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.customerList.Count > 0)
                        {
                            count = 1;
                            @foreach (Customer cu in Model.customerList)
                            {
                                <tr>
                                    <td>@count.</td>
                                    <td>@cu.Id</td>
                                    <td>@cu.Name</td>
                                    <td>@cu.Email</td>
                                    <td>@cu.Phone</td>
                                    <td>@cu.Company.Name</td>
                                    <td>
                                        <a asp-action="Index" asp-controller="AdminCustomerEdit" asp-route-id="@cu.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                                            </svg>
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-action="deleteCustomer" asp-controller="AdminHome" asp-route-id="@cu.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                {
                                    count += 1;
                                }
                            }
                        }
                        else
                        {
                            <tr colspan="8">
                                No company found!
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
               