@using CanEatFrontEnd.Models.PageModel.CustomerReceipt;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_CustomerLayout";
}
@model CustomerReceiptModel

<div class="header">
    <h2>Transaksi Sukses!</h2>
    <img src="" />
</div>
@{
    var sub = 0;
    var total = 0;
}
<table class="table mb-3">
    <tr>
        <div class="fs-3">Order Detail</div>
    </tr>
    @if(Model.currTrans.detailList.Count > 0)
    {
        @foreach (TrDetail tr in Model.currTrans.detailList)
        {

            <tr>
                <td>
                    <h3 class="w-50">@tr.Food.Name</h3>
                    <p class="w-100">@tr.Food.Description</p>
                </td>
                <td>@tr.Food.Price.ToString("#,##0")</td>
                <td>x @tr.Qty</td>
                @{
                    sub = tr.Qty * tr.Food.Price;
                    total += (sub);
                }
                <td>Rp @sub.ToString("#,##0")</td>
            </tr>
        }
        <tr>
            <td colspan="3"><div class="fs-3">Total</div></td>
            <td>Rp @total.ToString("#,##0")</td>

        </tr>
    }
    
    
</table>
<div class="back-home-btn d-flex justify-content-center">
    <a type="button" class="btn-primary" asp-action="Index" asp-controller="CustomerHome">Home</a>
</div>

